<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Twitter</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {{#if user }}
        <li><a href="/user/{{ user._id }}">{{ user.name }}</a></li>
        <li><a href="/logout">Logout</a></li>

      {{/if }}
    </ul>
  </div>
</nav>
