<div class="starter-template">
  <p class="lead">What is happening?</p>
</div>

<div class="col-md-6 col-md-offset-3">
  <form id="sendTweet">
    <input type="text" class="form-control" id="tweet">
    <br />
    <button class="btn btn-primary">Tweet</button>
  </form>

  <br />
  <br />

  <div id="tweets">
    {{#each tweets}}
    <div class="media">
      <div class="media-left">
        <a href="/user/{{ owner._id }}"><img class="media-object" src="{{ owner.photo }}" /></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ owner.name }}</h4>
        <p>{{ content }}</p>
      </div>
    </div>
    {{/each}}

  </div>
</div>
