<div class="starter-template">
  <h1>Join and Follow Celebrities and Entrepreneurs</h1>
  <p class="lead">It's free and will always be, signup now and enjoy a new social experience</p>
</div>

<div class="col-md-8 col-md-offset-4">
  <a class="btn btn-primary btn-lg" href="/signup">Signup</a>

  <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>
